/* basic elements */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px auto;
    width: 760px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    line-height: 1.88889;
    color: #666666;
    background: url(../Images/backgroundbar.png) top left repeat, url(../Images/butterflyani.gif) right bottom no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, rgba(252, 251, 230, 0.85)), color-stop(0.65, rgba(241, 224, 251, 0.9)));
    background: -moz-linear-gradient(center top, rgba(252, 251, 230,0.85) 25%, rgba(230, 198, 249,0.90) 65%);

}

a:link {

    text-decoration: none;
    color: olive;
    font-family: Times "Times New Roman";
    font-size: 1.2em;
    font-weight: bold;

}

a:visited {

}

a:hover, a:active {
    text-decoration: underline;
    color: #9685BA;
}

#lselect a:hover {

    color: #9685BA;

}

/* specific divs */
#container {

    position: relative;
    overflow: hidden;
    margin-top: 10px;
    background: url(../Images/butterflyani.gif) white right bottom no-repeat;
    box-shadow: 10px 10px 5px #888888;
}

/* under intro divs */
#intro #quickSummary, #preamble {
    width: 550px;
    float: right;
    margin: 20px 5px;
    padding: 10px 10px;
}

/* pageHeader div*/
#pageHeader {
    width: 760px;
    height: 220px;
    background: url(../Images/header.gif) top left no-repeat;
    float: left;

}

#pageHeader h1, h2 {
    display: none;
}

/* quickSummary div*/
#quickSummary {
    border: 3px solid #B198C5;
    -moz-border-radius: 10px/50px;
    -webkit-border-radius: 10px/50px;
    box-shadow: 5px 5px 5px #888888;
    margin: 10px 5px;
    padding: 10px 5px;
    font-size: 0.9em;
    color: #6d6b4b;
    line-height: 1.5;
}

/* preamble div */
#preamble h3 span {
    display: none;

}

#preamble h3 {
    background: url(../Images/h3_preamble.gif) 0px 15px no-repeat;
    width: 550px;
    height: 47px;
    border-top: 3px dotted #fcc85c;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    padding-bottom: 10px;

}

#preamble .p3 {
    padding-bottom: 15px;
    border-bottom: 2px dotted #b888e7;

}

/*under supportingText div*/
#supportingText {
    width: 575px;
    float: right;
    margin-right: 5px;

}

/* explanation div*/
#explanation {
    margin: -5px auto;
    padding: 0px 10px;
}

#explanation h3 span {
    display: none;
}

#explanation h3 {
    background: url(../Images/h3_explanation.gif) top left no-repeat;
    width: 287px;
    height: 28px;
    padding-bottom: 10px;
}

#explanation .p2 {
    padding-bottom: 15px;
    border-bottom: 2px dotted #b888e7;

}

/* participation div */
#participation {
    margin: 15px auto;
    padding: 5px 10px;
}

#participation h3 span {
    display: none;
}

#participation h3 {
    background: url(../Images/h3_participation.gif) top left no-repeat;
    width: 180px;
    height: 30px;
    padding-bottom: 10px;
}

#participation .p3 {
    padding-bottom: 15px;
    border-bottom: 2px dotted #b888e7;
}

/* benefits div */
#benefits {
    margin: 15px auto;
    padding: 5px 10px;
}

#benefits h3 span {
    display: none;
}

#benefits h3 {
    background: url(../Images/h3_benefits.gif) top left no-repeat;
    width: 120px;
    height: 30px;
}

#benefits .p1 {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 2px dotted #b888e7;

}

/* requirements div */
#requirements {
    margin: 15px auto;
    padding: 5px 10px;

}

#requirements h3 span {
    display: none;
}

#requirements h3 {
    background: url(../Images/h3_requirements.gif) top left no-repeat;
    width: 185px;
    height: 32px;
    padding-bottom: 10px;
}

#requirements .p5 {
    padding-bottom: 15px;
    border-bottom: 3px dotted #fcc85c;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
}

/* footer div */
#footer {
    margin: 25px auto;
    padding: 5px 10px;

}

#footer a:link {
    color: #666666;

}

/* under linkList div */
#linkList {

    width: 148px;
    float: left;
    margin-top: -380px;
    margin-left: 8px;
    padding: 10px 5px;
    border: purple 2px solid;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;

}

/* linkList2 div */
#linkList2 {
    font: 11px verdana, sans-serif;
    background: url(../Images/extralily.png) left bottom no-repeat;
    padding-bottom: 150px;

}

#linkList ul {

    padding-left: 5px;
    margin-bottom: 30px;

}

#linkList ul li {
    list-style-type: none;
    line-height: 1.5em;
    display: block;
    padding-top: 15px;
    padding-left: 20px;
    background: transparent url(../Images/list_logo.png) -2px 13px no-repeat;

}

/* linkList .select */
#linkList .select span {
    display: none;
}

#linkList .select {
    background: url(../Images/h3_select.png) top left no-repeat;
    width: 140px;
    height: 25px;
    margin-top: 15px;

}

/* linkList .archives */
#linkList .archives span {
    display: none;
}

#linkList .archives {
    background: url(../Images/h3_archives.png) top left no-repeat;
    width: 76px;
    height: 20px;
    margin-top: 25px;
}

/* linkList .resources */
#linkList .resources span {
    display: none;
}

#linkList .resources {
    background: url(../Images/h3_resourcse.png) top left no-repeat;
    width: 95px;
    height: 20px;
    margin-top: 25px;
}

.accesskey {
    text-decoration: none;
}

#lselect [accesskey="a"], #lselect [accesskey="b"], #lselect [accesskey="c"], #lselect [accesskey="d"],
#lselect [accesskey="e"], #lselect [accesskey="f"], #lselect [accesskey="g"], #lselect [accesskey="h"] {
    color: orange;
    font-weight: bolder;
    display: block;
}
