*
{
    margin: 0;
    padding: 0;
}
body
{
    width:100%;
    margin:15px auto;
    font-family: Times, sans-serif;
    font-size: 14pt;
}

.menu{
    margin-left: 50px;
    margin-top: 50px;
    width: 540px;
}

.menu li
{
    background-color: #008b8b;
    text-align: center;
    list-style: none;
    padding:10px;
    text-align: center;
    height: 25px;
    width:150px;
    display:block;
    float: left;
    color: white;
    border-right: 1px #000000 solid;
	cursor:default;
}

.menu >li:hover ul {
    display: block;
}

.menu ul.submenu
{
    display: none;
}

.submenu  li{
    background-color: #d3d3d3;
    list-style: none;
    width: 180px;
    font-size: 12pt;
    height: 25px;
    position: relative;
    top:13px;
    left: -11px;

}

.submenu table
{
    background-color: #d3d3d3;
    width: 310px;
    font-size: 12pt;
    position: relative;
    top:13px;
    left:-10px;
}


.submenu table a, .submenu li a{
    text-decoration: none;
    color:black;
}

.submenu table tr td{
    height: 35px;
    padding: 10px;
}

.submenu table a:hover, .submenu li a:hover
{
    color:#ff1493;
    cursor: pointer;
    text-decoration:underline;
}

.menu >li:hover{
    background-color: green;
}


